@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300;700');


*{ 
    box-sizing: border-box;
}

body{
    background-color: white;
    color: #221811;
    font-family: Arial, sans-serif, Tahoma;
}
header{
    background-color: #0000bb;
    color: white;
    text-align: center;  
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-shadow: black 3px 3px;
    border-radius: 10px;
}


nav{
    background-color: #aaaaaa;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-shadow: lightslategray 1px 1px;
    border-radius: 10px;
    justify-content: center;
}



a{
    display: flex;
    text-decoration: none;
    color: black;
   justify-content: center;
}

.banner{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color:black;
    border-radius: 10px;
    display: block;
}

table{
    border: 1px solid;
    width: 750px;
}

:first-of-type td{
    text-align: center;
}

th{
    border: 1px solid;
    text-align: center;
}

td{
    border: 1px solid;

}

.threecolumns{
    padding-top: 10px;
    display:grid;
    grid-template-columns: 50%;
    justify-content: space-evenly;
}


.onecolumn{
    color:black;
    border-radius: 10px;
    background-color: #777777;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

img{
    justify-content: center;
    width: 100%;
}

footer{
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: auto;
    font-size:50px;
}


.flexbox{
    display: flex;
    margin-top: 10px;

}

.flexcolumns{
    margin-right: 100px;
}

.flexcolumns img{
    justify-content: right;
    display: block;
    width: 100%;
}


.flexcolumns .flexbelow{
    width: 90%;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

/*LARGE*/
@media (min-width:1024px){
    nav{
        background-color: #aaaaaa;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        text-shadow: lightslategray 1px 1px;
        border-radius: 10px;
        color:black;
        
    }
    a{
        display: inline
    }
    
    .threecolumns{
        padding-top: 10px;
        display:grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
    }

}
