main{
    padding-left:2em;
    padding-right: 2em;
    padding-bottom: 2em;
}
body{
    background-image: url("./images/windingroad.jpg");

    background-color: #D2B48C;
    background-attachment: fixed;
    background-size: cover;
    text-emphasis-color: #221811;
    font-family: Arial, sans-serif, Tahoma;
    background-repeat: no-repeat;
}
header{
    background-color: #D2B48C;
    color: #8C3826;
    text-align: center;  
    padding-top: 5px;
    padding-bottom: 5px;
}
h1{
    font-size: 3em;
}
h2{
    color: #8C3826;
}
h3{
    color:#8C3826;
}
h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom:.25em;
}
.dt{
    color:#8C3826;
}
.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}
.homehero{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    width:99%;
}

img{
    padding-left:10px;
    padding-right:10px;
}

nav{
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}
nav a{
    text-decoration:none;

} 
footer{
    border: solid #8C3826;
    border-top: 0 2px;
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding:1em;
    
}
.wrapper{
    background-color: #FEFAEB;
    width:80%;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 10px 5px 5px #221811;
    
    margin-right: auto;
    margin-left: auto;
}